<%- include("partials/header.ejs") %> 
<form action="/edit" method="POST">
<div class="form-floating m-5">
    <input type="text" name="title" class="form-control" id="floatingInputValue" placeholder="" value="<%=title%>">
    <label for="floatingInputValue">Title</label>
  </div>
<div class="form-floating m-5">
    <textarea  name="body" class="form-control" placeholder="" id="floatingTextarea2" style="height:400px"><%=body%></textarea>
    <label for="floatingTextarea2">Body</label>
</div>
<input type="hidden" name="username" value="<%=username%>">
<input type="hidden" name="entryId" value="<%=id%>">
<div class="d-grid gap-2 col-6 mx-auto"><button type="submit" class="btn btn-primary">Save</button></div>
</form>
<%- include("partials/footer.ejs") %> 